<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ app_setting.app_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ app_setting.preloader_logo.url }}">

    <!-- CSS here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-animation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">


</head>

<body>


    <!-- pre loader area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="tp-preloader-content">
                    <div class="tp-preloader-logo">
                        <div class="tp-preloader-circle">
                            <svg width="190" height="190" viewBox="0 0 380 380" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle stroke="#D9D9D9" cx="190" cy="190" r="180" stroke-width="6"
                                    stroke-linecap="round">
                                </circle>
                                <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                </circle>
                            </svg>
                        </div>
                        <img src="{{ app_setting.preloader_logo.url }}" alt="">
                    </div>
                    <p class="tp-preloader-subtitle">Loading...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- pre loader area end -->


    <!-- start offcanvas area  -->
    <div class="tp-offcanvas__area">
        <div class="tp-offcanvas__wrapper">
            <div class="tp-offcanvas__close">
                <button class="tp-offcanvas__close-btn tp-offcanvas-close-btn">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
            <div class="tp-offcanvas__content">
                <div class="tp-offcanvas__top mb-50 d-flex justify-content-between align-items-center">
                    <div class="tp-offcanvas__logo">
                        <a href="index.html">
                            <img src="{{ app_setting.logo.url }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="tp-main-menu-mobile d-xl-none">
                    <nav class="tp-main-menu-content">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#about-sec">About</a></li>
                            <li><a href="#Services">Services</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#Testimonials">Testimonials</a></li>
                            <li><a href="#contactus">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="tp-mobile-menu-pos"></div>

                <div class="tp-offcanvas__contact">
                    <h4 class="tp-offcanvas__title">Contacts</h4>
                    <div class="tp-offcanvas__contact-content d-flex">
                        <div class="tp-offcanvas__contact-content-icon">
                            <i class="far fa-location"></i>
                        </div>
                        <div class="tp-offcanvas__contact-content-content">
                            <a
                                href="https://www.google.com/maps/search/86+Road+Broklyn+Street,+600+New+York,+USA/@40.6897806,-74.0278086,12z/data=!3m1!4b1">{{ app_setting.address }}</a>
                        </div>
                    </div>
                    <div class="tp-offcanvas__contact-content d-flex">
                        <div class="tp-offcanvas__contact-content-icon">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                        <div class="tp-offcanvas__contact-content-content">
                            <a href="mailto:needhelp@company.com"> {{ app_setting.email }} </a>
                        </div>
                    </div>
                    <div class="tp-offcanvas__contact-content d-flex">
                        <div class="tp-offcanvas__contact-content-icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="tp-offcanvas__contact-content-content">
                            <a href="tel:01310-069824"> +92 {{ app_setting.phone }}</a>
                        </div>
                    </div>
                </div>
                <div class="tp-offcanvas__social">
                    <a class="icon facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="icon twitter" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="icon youtube" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="icon linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-overlay"></div>
    <!-- start offcanvas end  -->

    <!-- back to top start -->
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <!-- back to top end -->

    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

</body>

</html>