<footer>
    <!-- tp footer area start  -->
    <section class="tp-footer-2-area tp-footer__2 black-bg pt-40">
        <div class="tp-footer__2-border-style">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6">
                        <div class="tp-footer__widget footer-col-2-1 mb-40 wow tpfadeUp" data-wow-duration=".9s"
                            data-wow-delay=".3s">
                            <div class="tp-footer__adress-box p-relative">
                                <h3 class="tp-footer__adress">ADDRESS</h3>
                                <a href="https://maps.app.goo.gl/5jjAGwaDreeCBemr5" class="tp-footer__city">
                                    5919 TrussvilleCrossings Pkwy, Birmi
                                </a>
                                <h3 class="tp-footer__contact">
                                    <a href="tel:24563432445">+2 456 (343) 24 45</a>
                                </h3>
                                <a href="https://maps.app.goo.gl/5jjAGwaDreeCBemr5" class="tp-footer__location">
                                    27 Division, New York, NY 1002
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="tp-footer__widget footer-col-2-2 mb-40 wow tpfadeUp" data-wow-duration=".9s"
                            data-wow-delay=".5s">
                            <h3 class="tp-footer__widget-title">SERVICES REQ</h3>
                            <div class="tp-footer__list">
                                <a href="#">UI/UX Experience</a>
                                <a href="#">Digital Marketing</a>
                                <a href="#">Web Development</a>
                                <a href="#">Product Design</a>
                                <a href="#">Web Development</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="tp-footer__widget footer-col-2-3 mb-40 wow tpfadeUp" data-wow-duration=".9s"
                            data-wow-delay=".7s">
                            <h3 class="tp-footer__widget-title">FIND IT FAST</h3>
                            <div class="tp-footer__contact-info">
                                <div class="tp-footer__list">
                                    <a href="#about-sec">About Us</a>
                                    <a href="#">Faq</a>
                                    <a href="team.html">Our Team</a>
                                    <a href="">Blog Insights</a>
                                    <a href="contact.html">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="tp-footer__widget footer-col-2-4 wow tpfadeUp" data-wow-duration=".9s"
                            data-wow-delay=".9s">
                            <h3 class="tp-footer__widget-title">SERVICES REQ</h3>
                            <div class="tp-footer__list">
                                <a href="#">Faqs</a>
                                <a href="#">Term & Conditions</a>
                                <a href="#">Privacy policy</a>
                                <a href="">Support center</a>
                                <a href="#">Help</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp copyright area start -->
        <div class="tp-copyright-area tp-copyright__style-2 pt-30 pb-10 wow tpfadeUp" data-wow-duration=".9s"
            data-wow-delay=".5s">
            <div class="container">
                <div class="tp-copyright__wrap">
                    <div class="row align-items-center">
                        <div
                            class="col-xl-2 col-lg-2 col-md-6 col-sm-6 order-xl-1 order-lg-1 order-md-0 order-sm-0 order-0">
                            <div class="tp-copyright__logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 order-xl-2 order-md-3 order-sm-3 order-lg-2 order-3">
                            <div class="tp-copyright__text text-sm-center">
                                <p> <span>©2025</span> Oclata by design. All Rights Reserved</p>
                            </div>
                        </div>
                        <div
                            class="col-xl-2 col-lg-3 col-md-6 col-sm-6 order-xl-3 order-lg-3 order-md-1 order-sm-1 order-1">
                            <div class="tp-copyright__social text-sm-end">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp copyright area end -->
    </section>
    <!-- tp footer area end  -->
</footer>

{% load static %}
<!-- JS here -->
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/gsap-split-text.js' %}"></script>
<script src="{% static 'assets/js/chroma.min.js' %}"></script>
<script src="{% static 'assets/js/matter.min.js' %}"></script>
<script src="{% static 'assets/js/matterjs-custom.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/purecounter.js' %}"></script>
<script src="{% static 'assets/js/animated-headline.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
<script src="{% static 'assets/js/ajax-form.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>