{% load static %}
<!-- header-top-area-start -->
<header>
    <div id="header-sticky"
        class="tp-header-top-area tp-header__style-1 tp-header__transparent tp-header__border pr-160 pl-160 black-bg">
        <div class="contianer-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="tp-main__logo">
                        <a href="index.html">
                            <img src="{% static 'assets/img/logo/logo.png'%}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="tp-main__menu d-flex justify-content-center">
                        <nav>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#about-sec">About</a></li>
                                <li><a href="#Services">Services</a></li>                                
                                <li><a href="#team">Team</a></li>
                                <li><a href="#Testimonials">Testimonials</a></li>                                
                                <li><a href="#contactus">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="tp-header__right d-flex justify-content-end">
                        <div class="tp-header__action">
                            <ul>
                                <li>
                                    <button class="tp-header__search-btn tp-search-open-btn">
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12.4833 13.3769L16.6212 17.5149C16.8678 17.7615 17.2685 17.7615 17.515 17.5149C17.7617 17.2684 17.7617 16.8676 17.515 16.6211L13.3771 12.4832C14.4966 11.1613 15.1718 9.45191 15.1718 7.58592C15.1718 3.39921 11.7727 0 7.58592 0C3.39914 0 0 3.39914 0 7.58592C0 11.7727 3.39914 15.1718 7.58592 15.1718C9.45205 15.1718 11.1614 14.4967 12.4832 13.3771L12.4833 13.3769ZM7.58606 1.26403C11.0749 1.26403 13.9077 4.09676 13.9077 7.58563C13.9077 11.0745 11.0749 13.9072 7.58606 13.9072C4.09719 13.9072 1.26446 11.0745 1.26446 7.58563C1.26446 4.09676 4.09719 1.26403 7.58606 1.26403Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                    </button>
                                </li>
                                <li>
                                    <button class="tp-header__burs-btn tp-offcanvas-open-btn">
                                        <span>
                                            <svg width="28" height="26" viewBox="0 0 28 26" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <ellipse cx="2.39023" cy="2.39022" rx="2.39023" ry="2.39022"
                                                    fill="#BFF747" />
                                                <ellipse cx="13.9137" cy="2.39022" rx="2.39023" ry="2.39022"
                                                    fill="white" fill-opacity="0.7" />
                                                <ellipse cx="25.441" cy="2.39022" rx="2.39023" ry="2.39022" fill="white"
                                                    fill-opacity="0.7" />
                                                <ellipse cx="2.39023" cy="12.6339" rx="2.39023" ry="2.39022"
                                                    fill="white" fill-opacity="0.7" />
                                                <ellipse cx="13.9137" cy="12.6349" rx="2.39023" ry="2.39022"
                                                    fill="white" />
                                                <ellipse cx="25.441" cy="12.6349" rx="2.39023" ry="2.39022" fill="white"
                                                    fill-opacity="0.7" />
                                                <ellipse cx="2.39023" cy="23.0484" rx="2.39023" ry="2.39022"
                                                    fill="white" fill-opacity="0.7" />
                                                <ellipse cx="13.9996" cy="23.0484" rx="2.39023" ry="2.39022"
                                                    fill="white" fill-opacity="0.7" />
                                                <ellipse cx="25.609" cy="23.0484" rx="2.39023" ry="2.39022"
                                                    fill="#BFF747" />
                                            </svg>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-top-area-end -->