{% load static %}
<!-- hero-area start -->
<section class="tp-hero-area tp-hero-bg-2 p-relative">
    <div class="hero-bg-video">
        <video autoplay="" muted="" loop="" id="myVideo">
            <source src="{% static 'assets/img/video/creative_agency.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-hero-box">
                    <div class="tp-hero-titlebox1 mb-120 z-index-2 text-center">
                        <span class="tp-hero-subtitle">
                            Digital <span class="light-text">agency</span> &
                            <span class="tp-title-shape">
                                <svg width="253" height="17" viewBox="0 0 253 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_273)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M250.182 16.3601C131.467 -2.76319 50.3203 7.01695 2.88642 16.3482C1.80262 16.5613 0.751194 15.8555 0.537989 14.7717C0.324785 13.6879 1.03054 12.6365 2.11434 12.4233C49.9439 3.01433 131.572 -6.79791 250.818 12.4109C251.909 12.5866 252.651 13.613 252.475 14.7035C252.299 15.7941 251.273 16.5358 250.182 16.3601Z"
                                            fill="url(#paint0_linear_1_273)" />
                                    </g>
                                    <defs>
                                        <linearGradient id="paint0_linear_1_273" x1="250.5" y1="9.67149" x2="2.50038"
                                            y2="9.67149" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.116017" stop-color="white" stop-opacity="0" />
                                            <stop offset="1" stop-color="white" />
                                        </linearGradient>
                                        <clipPath id="clip0_1_273">
                                            <rect width="252" height="16" fill="white"
                                                transform="translate(0.5 0.885742)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                        </span>
                        <h1 class="tp-hero-title cd-headline clip">
                            <span class="cd-words-wrapper theme-text">
                                <b class="is-visible">Design</b>
                                <b class="uixi">UI/UX</b>
                                <b class="app">App</b>
                                <b>Brand</b>
                            </span> Studio
                        </h1>
                    </div>
                    <div class="tp-hero-content fix z-index-2 text-center text-lg-start">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-4 col-xl-4 justify-content-center justify-content-lg-center">
                                <span class="tp-hero-into-text">
                                    Your Trusted design agency
                                </span>
                                <p class="tp-section-text mb-40">
                                    We are an <span> award-winning </span> brand design agency with more than 300 high
                                    value projects
                                </p>
                                <div class="tp-hero-action">
                                    <a href="" class="tp-btn-primary tp-btn-switch-text">
                                        <span class="btn-double-text" data-text="Explore More">Explore More </span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 order-2 order-lg-1 d-flex justify-content-center">
                                <div class="tp-scroll-down">
                                    <a href="#about-sec" class="scroll-wrap">
                                        <span class="circle"><i class="fa-regular fa-circle"></i></span>
                                        <span class="arrow"><i class="fa-solid fa-arrow-down"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div
                                class="col-lg-4 col-xl-4 order-1 order-lg-2 d-flex justify-content-center justify-content-lg-end">
                                <div class="tp-circle-text p-relative">
                                    <a href="#about-sec">
                                        <div class="tp-circle-tag">
                                            <span class="tp-circle-anime">More About Service Explore</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-hero-info d-none d-sm-block">
        <a href="tel:+1800638975">
            <span class="tel-icon">
                <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="4" height="4" transform="matrix(0 1 1 0 0.414062 0.875061)" fill="#BFF747" />
                    <rect width="4" height="4" transform="matrix(0 1 1 0 5.43359 4.87506)" fill="#BFF747" />
                    <rect width="4" height="4" transform="matrix(0 1 1 0 0.458984 9.87506)" fill="#BFF747" />
                </svg>
            </span>
            tel. +1 800 638 975
        </a>
    </div>
</section>
<!-- hero-area end -->